/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 nov. 2018, 15:04:56
    Author     : User
*/
#message
{
   height : 1em;
   margin : 2em;
   padding : 0.5em;
   background : #DDFFFF;
}

#imageEvenement
{
    background-image: url("images/evenement.jpg");
     width:1330px;
     height:900px;
     background-repeat: no-repeat;
}
#imageResponsable
{
    background-image: url("images/fondSport.jpg");
         width:1330px;
     height:900px;
}

#imageCours
{
   
   background-image: url("images/SPORT.jpg");
   width:1330px;
   height:800px;
   background-repeat: no-repeat;
   
    
}
#imageAccueil
{
   
   background-image: url("images/image.jpg");
   width:1330px;
   height:800px;
   background-repeat: no-repeat;
   background-position: right top;
    
}


div#menu {
    font-weight: bold;
        font-style: italic;
        font-style:oblique;
        text-align: center;
	float:left;
	width:270px;
	height:700px;
	background-color:orange;
	}


 div#bandeau ul 
 {
             list-style-type: none;
             background-color: whitesmoke;
             border-width:5px;
             border-style:outset;
             
  }
 #liste
 {
     width: 70%;
 }
 #connect
 {
     text-align: right ;
     
     display:inline-block;
     margin-left: 735px;
    
 }

  div#bandeau ul li 
  {
            display: inline-block;
            margin: 0 12px 0 0;
           
  }
  a:hover
  {
      color:red;
  }
        
  
div#imageCours table
{
   width : 80%;
   margin-left : 10%;
   margin-bottom : 2em;      
   border-width : 1px;                                       /* Les 2 options */
   border-style : solid;                                     /* ou aucune     */
   border-color : blue;
   background-color: yellow;
}

div#imageCours table caption
{
    font-size : 1.5em;
    color : white;
    background : blue;
    margin-top : 2em;
}

div#imageCours table caption thead
{
    color : white;
    background : blue;
}

div#imageCours table tbody
{
   background : #DDFFFF;
}

 
div#imageEvenement table
{
   width : 80%;
   margin-left : 10%;
   margin-bottom : 2em;      
   border-width : 1px;                                       /* Les 2 options */
   border-style : solid;                                     /* ou aucune     */
   border-color : blue;
   background-color: orange;
}

div#imageEvenement table caption
{
    font-size : 1.5em;
    color : white;
    background : blue;
    margin-top : 2em;
}

div#imageEvenement table caption thead
{
    color : white;
    background : blue;
}

div#imageEvenement table tbody
{
   background : #DDFFFF;
}

div#imageCours fieldset
{
   background : #DDFFFF;
   margin : 2em;
   padding : 1em;
}

div#description h3
{
    color:orange;
}

div#description strong
{
    color:green;
}

div#imageResponsable table
{
   width : 80%;
   margin-left : 10%;
   margin-bottom : 2em;      
   border-width : 1px;                                       /* Les 2 options */
   border-style : solid;                                     /* ou aucune     */
   border-color : blue;
   background-color: yellow;
}

div#imageResponsable table caption
{
    font-size : 1.5em;
    color : white;
    background : blue;
    margin-top : 2em;
}

div#imageResponsable table caption thead
{
    color : white;
    background : blue;
}

div#imageResponsable table tbody
{
   background : #DDFFFF;
}

.divSaisieModif
{
   width : 50em;
   margin : 1em;
}
div#imageResponsable fieldset
{
   background : #DDFFFF;
   margin : 2em;
   padding : 1em;
}

.divSaisieModif label
{
   display : block;
   text-align : right;
   margin-right : 0.5em;
   width : 10em;
   float : left;
}